html
{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    padding-bottom: 30px;
    text-align: center;
}

img
{   

    margin: auto;
    display: block;
    border-radius: 3%;
    max-width: fit-content;
    width: 65%;



}

h2
{
    color: hsl(218, 44%, 22%);
}

.card
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    padding: 15px;
    border-radius: 3%;
    background-color: white;
    text-align: center;
    max-width: fit-content;
    width: 25%;
}
 
    
    .attribution { 
        font-size: 12px;
        justify-content: center;
        text-align: center; 
        position: fixed;
        bottom: 0;

    }
    .attribution a {
         color: hsl(228, 45%, 44%); 
        }  
